<link rel="import" href="../polymer/polymer-element.html">
<link rel="import" href="../iron-ajax/iron-ajax.html">


<dom-module id="pw-list">
  <template>
    <style>
      :host {
        display: block;
      }

      div{
        border: 1px solid green;
        padding: 5px;
        overflow-x: auto;
      }

      table {
        border-collapse: collapse;
        border-spacing: 0;
        width: 25px;
        padding: 2px;
        border: 1px solid #ddd;
        table-layout: fixed;
      }

      th, td {
        text-align: center;
        padding: 2px;
        width: 120px;
        word-wrap: break-word
      }

      .titleTbl{
        background-color: #f2f2f2
      }

    </style>
    <!--<h2>Hello [[prop1]]!</h2>-->
    <iron-ajax
      auto
      id="get"
      method="GET"
      url="https://api.myjson.com/bins/oli3r"
      handle-as="json"
      on-response="__responseGetHandler"
      on-error="__errorResponseHandler"
  ></iron-ajax>

    <h3>pw - list</h3>
    <label  id="tituloTabla">Lista de Contactos:</label>
    <div>
      <table class="titleTbl" border="1">
        <tr>
            <th>Nombre</th>
            <th>E-mail</th>
            <th>Telefono</th>
            <th>Sexo</th>
        </tr>
      </table>

      <template is="dom-repeat" items="[[data]]" as="item">
      <table border="1">
         <tr>
          <td>[[item.name]]</td>
          <td>[[item.mail]]</td>
          <td>[[item.tel]]</td>
          <td>[[item.genre]]</td>
        </tr>
      </table>
          <!--<p>[[item.name]] [[item.mail]] [[item.tel]]</p>-->
      </template>
    </div>
  </template>

  <script>
    /**
     * `pw-list`
     * Lista de Contactos
     *
     * @customElement
     * @polymer
     * @demo demo/index.html
     */
    class PwList extends Polymer.Element {
      static get is() { return 'pw-list'; }
      static get properties() {
        return {
          items: {
            type: Array
          }
        };
      }

      __responseGetHandler(e) {
        console.log(e);
        const ironRequestInst = e.detail;
        if (ironRequestInst.status === 200) {
          this.data = ironRequestInst.response;
        }
      }

    }

    window.customElements.define(PwList.is, PwList);
  </script>
</dom-module>
